<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation" *ngIf="isAuthenticated$ | async">
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header *ngIf="isAuthenticated$ | async" (sideNavToggle)="sidenav.toggle()"></app-header>
    <!-- <app-search-toolbar (search)="handleSearch($event)" *ngIf="authService.isAuthenticated()"></app-search-toolbar> -->
    <main class="main-content">
      <router-outlet></router-outlet>
      <button mat-fab color="secondary" class="chat-button" (click)="openChatDialog()" *ngIf="isAuthenticated$ | async">
        <mat-icon>chat</mat-icon>
      </button>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
