<div class="item-detail-container" *ngIf="item">
  <div class="d-flex flex-row justify-content-between mb-2">
    <button mat-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon> Back
    </button>
    <button mat-raised-button color="primary" (click)="addToCart(item)">
      Add to Cart
    </button>
  </div>
  <mat-card class="item-card">
    <mat-card-header>
      <mat-card-title>{{ item.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="item.image" alt="{{ item.title }}" class="item-image">
    <mat-card-content>
      <p><strong>Description:</strong>{{ item.description }}</p>
      <p><strong>Type:</strong> {{ getClothesTypeLabel(item.type) }}</p>
      <p><strong>Size:</strong> {{ getSizeTypeLabel(item.size) }}</p>
      <p><strong>Manufacturer:</strong> {{ item.manufacturer }}</p>
      <p><strong>Date of Production:</strong> {{ item.dateCreated | date }}</p>
      <p><strong>Price:</strong> {{ item.price | currency }}</p>
    </mat-card-content>
  </mat-card>
  <app-rating [product]="item"></app-rating>
</div>
