<div class="login-container">
  <mat-card>
    <mat-card-header class="card-header">
      <mat-card-title>Login to Your Account</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="d-flex flex-column">
        <div>
          <p class="login-description">
            Please click the button below to authenticate via our Identity Server. Ensure your credentials are ready.
          </p>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="login()" type="submit" class="login-button">
            Login with Identity Server
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
