.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  /* A nice gradient background */
}

mat-card {
  width: 350px;
  height: 20vh;
  /* Increased width for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  border-radius: 10px;
  /* Slightly larger rounded corners for a softer look */
}

.login-description {
  text-align: center;
  /* Center-align the text */
  color: #666;
  /* Soft grey color for the text */
  font-size: 16px;
  /* Appropriate font size for readability */
  margin: 0 0 20px;
  /* Add some margin below the paragraph */
  padding: 0 20px;
  /* Padding on the sides for better text alignment */
}

.card-header {
  background: #ffffff;
  color: #333;
  text-align: center;
  border-top-left-radius: 10px;
  /* Adjusted for the larger border-radius of the card */
  border-top-right-radius: 10px;
}

mat-card-title {
  color: #333;
  /* Dark grey color for text */
  font-size: 26px;
  /* Slightly larger font size */
}

.card-content {
  padding: 24px;
  /* Increased padding for more internal space */
  display: flex;
  justify-content: center;
}

.login-button {
  width: 100%;
  /* Full width button */
  padding: 18px 0;
  /* Increased padding for a taller button */
  font-size: 20px;
  /* Slightly larger font size for better readability */
  transition: background-color 0.3s, box-shadow 0.3s;
  /* Smooth transitions for hover effects */
}

.login-button:hover {
  box-shadow: 0 5px 15px rgba(33, 150, 243, 0.4);
  /* Enhanced hover effect */
}

@media (max-width: 600px) {
  mat-card {
    width: 90%;
    /* More width on smaller screens to maintain responsiveness */
  }

  .login-button {
    padding: 15px 0;
    font-size: 18px;
    /* Adjust font size for smaller devices */
  }
}
