<mat-sidenav-container class="shopping-cart-container">
  <mat-sidenav mode="side" opened>
    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title>Search Filters</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="searchForm">
          <div class="d-flex flex-column">
            <mat-form-field appearance="fill">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Price From</mat-label>
              <input matInput formControlName="priceFrom" type="number">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Price To</mat-label>
              <input matInput formControlName="priceTo" type="number">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Type</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let type of clothesTypes" [value]="type">{{ type }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Size</mat-label>
              <mat-select formControlName="size">
                <mat-option *ngFor="let size of sizes" [value]="size">{{ size }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Manufacturer</mat-label>
              <input matInput formControlName="manufacturer">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="applyFilters()">Apply Filters</button>
            <button mat-raised-button color="primary" style="margin-top: 10px;" (click)="clearFilters()">Clear
              Filters</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="products-container" *ngIf="products">
      <mat-card class="product-card" *ngFor="let product of filteredProducts">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>{{ product.title }}</mat-card-title>
          <mat-card-subtitle>{{ product.type }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ product.image }}" alt="Photo of {{ product.title }}" class="card-image">
        <mat-card-content style="margin-top: 10px;">
          <p> <strong>Price</strong>: {{ product.price }} $</p>
          <p>{{ product.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="addToCart(product)">Add to cart</button>
          <button mat-raised-button color="primary" class="view-details"
            [routerLink]="['/productDetails', product.id]">View
            Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
